[submodule "modules/glm"]
	path = modules/glm
	url = https://github.com/g-truc/glm

[submodule "modules/VulkanContext"]
	path = modules/VulkanContext
	url = https://github.com/KGAFT/VulkanContext
[submodule "modulesToCompile/assimp"]
	path = modulesToCompile/assimp
	url = https://github.com/assimp/assimp
