[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "CeleritasEngine/lib/glfw"]
	path = CeleritasEngine/lib/glfw
	url = https://github.com/glfw/glfw/
[submodule "CeleritasEngine/lib/glm"]
	path = CeleritasEngine/lib/glm
	url = https://github.com/g-truc/glm
[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw
[submodule "modules/glm"]
	path = modules/glm
	url = https://github.com/g-truc/glm

[submodule "CeleritasEngine/lib/VulkanTools"]
	path = CeleritasEngine/lib/VulkanTools
	url = https://github.com/KGAFT/VulkanContext
